/* Global CSS  to trickle down to each element */

body {
  font-family: 'Roboto', sans-serif;
  color: $mainGrey;
}

img {
  max-width: 100%;
  height: auto;
}

/* Browser will not add padding to the total width of row */
* {
  box-sizing: border-box;
}

/* Links are orange colored globally  */
a {
  color: $mainOrange;
}
