/*
 * Accordion  CSS
 *   Center HOW TO:  https://css-tricks.com/centering-percentage-widthheight-elements/
 *   Accordion element example:  https://codepen.io/anon/pen/rjXNqR
 */

.accordion {

    perspective: 900;
    overflow-y: hidden;
    font-family: $accordionSans;
    color: $accordionBlack;


    .transition {
      transition: all 0.25s ease-in-out;
    }

    .flipIn {
        animation: flipdown 0.7s ease both;
    }

    .no-select {
      -webkit-tap-highlight-color: #000000;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    &--body {

         position: relative;
         box-shadow: 0 0.75rem 0 0 $mainBlue inset;

          left: 50%;  /* https://css-tricks.com/centering-percentage-widthheight-elements/  */
          width: 100%;
          height: 100%;
          min-height: 0;
          /*display: inline-block;*/
          box-sizing: border-box;
          transform: translate( -50% , 0 );
          background-color: $accordionWhite;

          @mixin atSmall  {
            /*box-sizing: border-box;*/
            transform: translate( 0 , 0 );
            max-width: 100%;
            min-height: 100%;
            margin: 0;
            left: 0;
          }


            h4, h5 {
              color: $accordionRed;
            }

            h4 {
              text-transform: uppercase;
              font-size: 2rem;
              line-height: 2.2rem;
              letter-spacing: 0.2rem;
              font-weight: 200;
              @extend .flipIn ;
            }

            h5 {
              font-size: 1.5rem;
              line-height: 1.75rem;
              font-weight: 300;
              letter-spacing: 0.1rem;
              display: block;
              background-color: $accordionWhite;
              margin: 0;
              cursor: pointer;
              @extend .no-select;
            }

            div {
              color: $accordionBlack;
              font-size: 17px;
              line-height: 26px;
              letter-spacing: 1px;
              position: relative;
              overflow: hidden;
              max-height: 100%;
              @extend .transition;
              opacity: 1;
              transform: translate( 0 , 0 );
              margin-top: 14px;
              z-index: 2;
            }

            ul {
              list-style: none;
              perspective: 900;
              padding: 0;
              margin: 0;

              li {
                position: relative;
                padding: 0;
                margin: 0;
                padding-bottom: 4px;
                padding-top: 18px;
                border-top: 1px dotted $accordionGrey;
                @extend .flipIn;

                &:nth-of-type(1) {
                  animation-delay: 0.5s;
                }

                &:nth-of-type(2) {
                  animation-delay: 0.75s;
                }

                &:nth-of-type(3) {
                  animation-delay: 1.0s;
                }

                &:last-of-type {
                  padding-bottom: 0;
                }
              }

                i {
                  position: absolute;
                  transform: translate( -6px , 0 );
                  margin-top: 16px;
                  right: 0;

                  &:before , &:after {
                    content: "";
                    @extend .transition;
                    position: absolute;
                    background-color:  $accordionRed;
                    width: 3px;
                    height: 9px;
                  }

                  &:before {
                    transform: translate( -2px , 0 ) rotate( 45deg );
                  }

                  &:after {
                    transform: translate( 2px , 0 ) rotate( -45deg );
                  }

                }  /* i  */

                input[type=checkbox] {
                  position: absolute;
                  cursor: pointer;
                  width: 100%;
                  height: 100%;
                  z-index: 1;
                  opacity: 0;

                  &:checked {
                    &~div {
                      margin-top: 0;
                      max-height: 0;
                      opacity: 0;
                      transform: translate( 0 , 50% );
                    }

                    &~i {
                      &:before {
                        transform: translate( 2px , 0 ) rotate( 45deg );
                      }
                      &:after {
                        transform: translate( -2px , 0 ) rotate( -45deg );
                      }
                    }
                  }
              } /* input[type=checkbox] */

            } /* ul */


            @keyframes flipdown {
              0% {
                opacity: 0;
                transform-origin: top center;
                transform: rotateX(-90deg);
              }
              5% {
                opacity: 1;
              }
              80% {
                transform: rotateX(8deg);
              }
              83% {
                transform: rotateX(6deg);
              }
              92% {
                transform: rotateX(-3deg);
              }
              100% {
                transform-origin: top center;
                transform: rotateX(0deg);
              }
            }

    } /* .accordion--body */

}  /* .accordion */
