
/*
  * Reusable column layout pattern
  * Assuming 12 column (direct child <div> element ) vertical  layout
  * Each row clear floats of own childs  ( both left & right)
*/
/* Problem: Browser will not add padding to the total width of  the row
    Solution: In recent years "box-sizing: border-box" CSS property ,
   The property's added into global setting for each element to overwrite
    browsers defaults ( missing padding in the row width calculations )
    ( See   base/_global.css )

    Problem:  Set box margins in to control distance
*/

.row {
  /* the "clearfix" has been moved to base/_mixins.css
   for reusability sake */
  @mixin clearfix;

  /* background-color: yellow;  */

    &--t-padding { /* Top padding of the row */
      padding-top: 80px ; /* to compensate margin: -80px  */
    }


   /* --gutters are empty space between columns */
   &--gutters {
     margin-right: -65px;
     /* to get rid of the last column right padding  */
   }

   &--gutters-large {
     margin-right: -100px;
   }

   &--gutters-small {
     margin-right: -45px;
   }

  &--gutters > div { /* add padding to direct childs (<div>) */
    padding-right: 65px;

  }

  &--gutters-large > div {
      padding-right: 100px;
  }

  &--gutters-small > div {
    padding-right: 45px;
  }

  /* for tiny and small size screns, add bottom margin */
  &__b-margin-until-medium {
    margin-bottom: 1rem;
  }

  @mixin atMedium {
    /* starting medium size screens,
            reset margin-bottom to 0 */
    &__b-margin-until-medium {
      margin-bottom: 0;
    }
     /* use two columns layout on medium or larger screens */
      &__medium-4 {
        float: left;
        width: 33.33%; /* 4/12 = 33.33% */
      }

      &__medium-4--larger {
        width: 37%; /* 4/12 = 33.33% */
      }

      &__medium-6 {
        float: left;
        width: 50%; /* 6/12 = 50% */
      }

      &__medium-8 {
        float: left;
        width: 66.66%; /* 8/12 = 66.66% */
      }

      &__medium-8--smaller {
        width: 63%; /* 8/12 = 66.66% */
      }
  }

  @mixin atLarge {
    /* starting medium size screens,
            reset margin-bottom to 0 */
    &__b-margin-until-large {
      margin-bottom: 0;
    }
     /* use two columns layout on medium or larger screens */
      &__large-4 {
        float: left;
        width: 33.33%; /* 4/12 = 33.33% */
      }

      &__large-4--larger {
        width: 37%; /* 4/12 = 33.33% */
      }

      &__large-6 {
        float: left;
        width: 50%; /* 6/12 = 50% */
      }

      &__large-8 {
        float: left;
        width: 66.66%; /* 8/12 = 66.66% */
      }

      &__large-8--smaller {
        width: 63%; /* 8/12 = 66.66% */
      }
  }

  /* Begin Equal Height Rules ( Applications section, etc) */
  /*  Works for 96% of browsers, that support flexbox */
  /* Modernizr.js  sets up the <html class="flexbox"> ,
       when it is supported by client's browser.
   */
  .flexbox &--equal-height-at-medium {
    @mixin atMedium {
      display: flex;  /* Using flex box CSS featue */
    }
    /* Direct descendants <div> ( Columns in this particular case ) */
    & > div {
      float: none;
      display: flex;
    }
  }

  .flexbox &--equal-height-at-large {
    @mixin atLarge {
      display: flex;  /* Using flex box CSS featue */
    }
    /* Direct descendants <div> ( Columns in this particular case ) */
    & > div {
      float: none;
      display: flex;
    }
  }

}

/* <div class="clear-me"/>
  Is not recommended because the empty div element created in the HTML
  NOT the best practice  */
/* <div class="clear-me">  MUST come after all the floating elements inside the row*/
/* Parent <div class="row"> will be able to calculate how tall it is */

/* .clear-me {
    clear: both;
}
*/
